{% extends 'base.html' %}

{% load user_tags %}

{% block content %}
    <h2>{{ course.name }} ( {{ course.course_code }} )</h2>
    {{ course.description }}

    <div class="instructor-container">
        <p>Instructors:
            <ul>
            {% for instructor in course.instructors.all %}
                <li>{{ instructor }}</li>
            {% endfor %}
            </ul>
        </p>
    </div>
    <div class="course-resources-container">
        <h2>Course Syllabus</h2>
        {% if course.syllabus %}
            <a href="{{ course.syllabus.url }}">syllabus file name</a>
        {% else %}
            <p>No syllabus available.</p>
        {% endif %}
        <h2>Course Resources</h2>
        {% if course_resources %}
            {% for resource in course_resources %}
                <a href="{{ resource.file.url }}">{{ resource.name }}</a>
            {% endfor %}
        {% else %}
            <p>No course resources available.</p>
        {% endif %}
    </div>
    <div class="course-section-container">
        {% if course_sections %}
            <h2>Course Sections</h2>
            {% for section in course_sections %}
                <p>
                    {{ section.name }}

                    {% for key, value in course_units.items %}
                        {% if key == section %}
                            {% for unit in value %}
                                <br><a href="{% url 'unit-content' unit.pk  %}">Unit {{ unit.unit_order_num }}) {{ unit.name }}</a>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </p>
            {% endfor %}

        {% endif %}
    </div>

    {% if request.user|has_group:'Admin' or request.user|has_group:'Instructor' %}

        <div>
            <a class="btn btn-primary edit-btn" href="{% url 'edit-course-details' course.pk %}" role="button">Edit Course Details</a>
        </div>

        <div>
            <a class="btn btn-primary edit-btn" href="{% url 'edit-course-content' course.pk %}" role="button">Edit Course Content</a>
        </div>

    {% endif %}

    {% if request.user|has_group:'Admin' %}

        <div>
            <a class="btn btn-primary edit-btn" href="{% url 'edit-course-enrollment' course.pk %}" role="button">Edit Course Enrollment</a>
        </div>

    {% endif %}

    {% if request.user|has_group:'Student' and not enrolled_student %}

        <div>
            <a class="btn btn-primary edit-btn" href="{% url 'enroll-student' course.pk request.user.pk %}" role="button">Enroll in course</a>
        </div>

    {% endif %}


{% endblock content %}